body, #content form p input.textbox
  font:           17px/1.3 Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif

#header
  background:     #006699
  
#single_form
  color:          white
  background:     #006699 !important
  border:
    color:        #333333 !important
    width:        2px !important
  